@import "tailwindcss";

@font-face {
    font-family:bidena; ;
    src: url("../src/assets/fonts/Bidenatrial.ttf");
}

@font-face {
    font-family: basker;
    src: url("../src/assets/fonts/Baskervville-Regular.ttf");
}
@font-face {
    font-family: weds;
    src: url("../src/assets/fonts/Wedding-Accesories.ttf");
}
@font-face {
    font-family: nav;
    src: url("../src/assets/fonts/Awesome.ttf");
}

@font-face {
    font-family: foot;
    src: url("../src/assets/fonts/Milker.otf");
}
@font-face {
    font-family: title;
    src: url("../src/assets/fonts/Hasly.otf");
}
@font-face {
    font-family: font ;
    src: url("../src/assets/fonts/Footlight.ttf");
}
@font-face {
    font-family: invite ;
    src: url("../src/assets/fonts/PerfectoCalligraphy.ttf");
}




@theme {
  --font-family: "Covered By Your Grace", cursive;
  --font-heading:"Style Script", cursive; 
  --font-head:bidena;
  --font-para:basker;
  --font-date:weds;
  --font-nav:nav;
  --font-foot:foot;
  --font-title:title;
  --font-font:font;
  --font-invite:invite;
}




body {
  margin: 0;
  background-color: #f8f8f8;
  background-image: url("/src/assets/image/pattern.jpg");
  background-repeat: repeat;
  background-size: auto;       /* or e.g. 40px 40px to control circle size */
}

/* Smooth scrolling for all browsers */
html {
  scroll-behavior: smooth;
}

/* Extra top margin for fixed navbar */
.scroll-mt-20 {
  scroll-margin-top: 8rem;
}

video::-webkit-media-controls * {
  cursor: pointer !important;
}

video::-webkit-media-controls-panel {
  pointer-events: auto;
}

video::-moz-media-controls {
  cursor: pointer;
}

video::-webkit-media-controls-panel {
  opacity: 1 !important;
  visibility: visible !important;
}
